
/* Applying Baloo Tamma 2 font to everything */
* {
    font-family: "Baloo Tamma 2", sans-serif;
    margin:0;
}

/* Navbar... */
.navbar {
    overflow:auto;
    height: 30px;
    background-color: orange;
    width: 100%;
    position: fixed;
    display:flex;
    justify-content: space-evenly;
}

.navbar-items {
    margin-top:2px;
    color: blue;
}

.navbar-items,
.submit-btn:hover,
.load-btn:hover {
    cursor:pointer;
}

/* Centering all elements into the middle. */
.flex-container {
    display:flex;
    justify-content: center;
}

.content-container {
    margin: 40px 10px 10px 10px;
    top: 0;
}

/* Form styling */
.form-break {
    padding-top: 10px;
}

.form-input {
    float:right;
}

form {
    width: 300px;
}

/* Run information, table styling */
.run-container {
    padding-top: 10px;
}

.run {
    padding-top: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 10px;
}

.run > p {
    padding-left: 5px;
}

.total-miles {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.load-btn {
    margin-top: 10px;
}

.btn-container {
    display:flex;
    justify-content: space-between;
}